########################
## Server list
########################
 
[notejam-db-master-svc]
type            = server
address         = notejam-db-master-svc
port            = 3306
protocol        = MariaDBBackend
serv_weight     = 1
 
[notejam-db-slave-01-svc]
type            = server
address         = notejam-db-slave-01-svc
port            = 3306
protocol        = MariaDBBackend
serv_weight     = 1
 
 
#########################
## MaxScale configuration
#########################
 
[maxscale]
threads                 = auto
log_augmentation        = 1
ms_timestamp            = 1
syslog                  = 1
 
#########################
# Monitor for the servers
#########################
 
[monitor]
type                    = monitor
module                  = mariadbmon
servers                 = notejam-db-master-svc, notejam-db-slave-01-svc
user                    = maxscale
password                = my_s3cret
auto_failover           = true
auto_rejoin             = true
enforce_read_only_slaves = 1
 
#########################
## Service definitions for read/write splitting and read-only services.
#########################
 
[rw-service]
type            = service
router          = readwritesplit
servers         = notejam-db-master-svc
user            = maxscale
password        = my_s3cret
max_slave_connections           = 100%
max_sescmd_history              = 1500
causal_reads                    = true
causal_reads_timeout            = 10
transaction_replay              = true
transaction_replay_max_size     = 1Mi
delayed_retry                   = true
master_reconnection             = true
master_failure_mode             = fail_on_write
max_slave_replication_lag       = 3
 
[rr-service]
type            = service
router          = readconnroute
servers         = notejam-db-slave-01-svc
router_options  = slave
user            = maxscale
password        = my_s3cret
 
##########################
## Listener definitions for the service
## Listeners represent the ports the service will listen on.
##########################
 
[rw-listener]
type            = listener
service         = rw-service
protocol        = MariaDBClient
port            = 4008
 
[ro-listener]
type            = listener
service         = rr-service
protocol        = MariaDBClient
port            = 4006
